body {
	width: 100%;
	font-size: 8pt;
	font-family: Verdana, Tahoma, Sans-serif;
	background-image: url("images/background.png");
	margin: 0px;
}

div#banner {
	background-image: url("images/bannerbackground.png");
	background-repeat: repeat-x;
	width: 100%;
	height: 50px;
}

h1#main-title {
	text-align: center;
	font-size: 24pt;
	font-family: Tahoma, Verdana, Sans-serif;
}

div#main-text {
	border: 4px gray solid;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}
div#left-section {
	width: 550px;
	height: 83px;
}
div#right-section {
	width: 250px;
	margin-left: 550px;
}
div#rotten {
	background-image: url("images/rottenbackground.png");
	height: 83px;
	font-size: 8pt;
	color: white;

}

span.red, span.white {
	vertical-align: 10px;
}
span.red {
	color: red;
	font-weight: bolder;
	font-size: 48pt;
}
